<div class="page-header">
  <h3 class="pull-left">导入库存</h3>
  <div class="btn-group pull-right">
  <%= link_to inventories_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    返回
  <% end %>
</div></div>

<%= form_for(@inventory_import, :html => { :class => "form-horizontal", :role => "form" }) do |f| %>
  <% if @inventory_import.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inventory_import.errors.count, "error") %> prohibited this import from completing:</h2>
      <ul>
      <% @inventory_import.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-sm-12">支持excel文件（03或07+版本）</div>
  </div>

  <div class="form-group">
  <div class="col-sm-12">
    <div class="field">
      <%= f.file_field :file %>
    </div>
    </div>
    
  </div>

  <div class="form-group">
  <div class="col-sm-12">
    <div class="buttons"><%= f.submit "导入" %></div>
  </div>
</div>
<% end %>
